:root {
    --primarypurple-25: rgba(164, 154, 246, 1);
    --primarypurple-50: rgba(126, 111, 243, 1);
    --primarypurple-100: rgba(76, 55, 238, 1);
    --primarypurple-200: rgba(66, 46, 216, 1);
    --primarypurple-300: rgba(56, 37, 194, 1);
    --secondaryorangeorange-25: rgba(253, 172, 127, 1);
    --secondaryorangeorange-50: rgba(252, 143, 82, 1);
    --secondaryorangeorange-100: rgba(251, 104, 22, 1);
    --secondaryorangeorange-200: rgba(224, 92, 18, 1);
    --secondaryorangeorange-300: rgba(198, 80, 14, 1);
    --secondarygreengreen-25: rgba(173, 255, 235, 1);
    --secondarygreengreen-50: rgba(96, 255, 217, 1);
    --secondarygreengreen-100: rgba(35, 255, 202, 1);
    --secondarygreengreen-200: rgba(28, 231, 182, 1);
    --secondarygreengreen-300: rgba(21, 208, 163, 1);
    --neutralwhite: rgba(255, 255, 240, 1);
    --neutralgray-30: rgba(210, 210, 210, 1);
    --neutralgray-50: rgba(158, 158, 158, 1);
    --neutralgray-70: rgba(106, 106, 106, 1);
    --neutralblack: rgba(18, 18, 18, 1);
    --flowkitpurple: rgba(123, 97, 255, 1);
    --flowkitcharcoal: rgba(34, 34, 34, 1);
    --flowkitred: rgba(252, 85, 85, 1);
    --flowkitgreen: rgba(41, 204, 106, 1);
    --flowkitblue: rgba(0, 153, 255, 1);
    --flowkitwhite: rgba(255, 255, 255, 1);
    --heading-bold-40-font-family: "Plus Jakarta Sans", Helvetica;
    --heading-bold-40-font-weight: 700;
    --heading-bold-40-font-size: 40px;
    --heading-bold-40-letter-spacing: -0.4px;
    --heading-bold-40-line-height: 44px;
    --heading-bold-40-font-style: normal;
    --heading-semi-bold-32-font-family: "Plus Jakarta Sans", Helvetica;
    --heading-semi-bold-32-font-weight: 600;
    --heading-semi-bold-32-font-size: 32px;
    --heading-semi-bold-32-letter-spacing: -0.32px;
    --heading-semi-bold-32-line-height: 38.400001525878906px;
    --heading-semi-bold-32-font-style: normal;
    --sub-heading-24-font-family: "Plus Jakarta Sans", Helvetica;
    --sub-heading-24-font-weight: 600;
    --sub-heading-24-font-size: 24px;
    --sub-heading-24-letter-spacing: 0.12px;
    --sub-heading-24-line-height: 26px;
    --sub-heading-24-font-style: normal;
    --sub-heading-20-font-family: "Plus Jakarta Sans", Helvetica;
    --sub-heading-20-font-weight: 600;
    --sub-heading-20-font-size: 20px;
    --sub-heading-20-letter-spacing: 0.1px;
    --sub-heading-20-line-height: 22px;
    --sub-heading-20-font-style: normal;
    --sub-heading-18-font-family: "Plus Jakarta Sans", Helvetica;
    --sub-heading-18-font-weight: 600;
    --sub-heading-18-font-size: 18px;
    --sub-heading-18-letter-spacing: -0.09px;
    --sub-heading-18-line-height: 22px;
    --sub-heading-18-font-style: normal;
    --sub-heading-16-font-family: "Plus Jakarta Sans", Helvetica;
    --sub-heading-16-font-weight: 600;
    --sub-heading-16-font-size: 16px;
    --sub-heading-16-letter-spacing: -0.08px;
    --sub-heading-16-line-height: 19px;
    --sub-heading-16-font-style: normal;
    --body-18-font-family: "Plus Jakarta Sans", Helvetica;
    --body-18-font-weight: 400;
    --body-18-font-size: 18px;
    --body-18-letter-spacing: -0.09px;
    --body-18-line-height: 22px;
    --body-18-font-style: normal;
    --body-16-font-family: "Plus Jakarta Sans", Helvetica;
    --body-16-font-weight: 400;
    --body-16-font-size: 16px;
    --body-16-letter-spacing: -0.08px;
    --body-16-line-height: 19px;
    --body-16-font-style: normal;
    --button-16-font-family: "Plus Jakarta Sans", Helvetica;
    --button-16-font-weight: 600;
    --button-16-font-size: 16px;
    --button-16-letter-spacing: 0.08px;
    --button-16-line-height: 19px;
    --button-16-font-style: normal;
    --button-14-font-family: "Plus Jakarta Sans", Helvetica;
    --button-14-font-weight: 700;
    --button-14-font-size: 14px;
    --button-14-letter-spacing: 0.07px;
    --button-14-line-height: 19px;
    --button-14-font-style: normal;
    --shadow-XS: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px
      rgba(0, 0, 0, 0.15);
    --shadow-s: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px
      rgba(0, 0, 0, 0.15);
    --shadow-m: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px
      rgba(0, 0, 0, 0.15);
    --shadow-l: 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 6px 10px 4px
      rgba(0, 0, 0, 0.15);
    --shadow-XL: 0px 4px 4px 0px rgba(0, 0, 0, 0.3), 0px 8px 12px 6px
      rgba(0, 0, 0, 0.15);
  }
